
body{
    margin: 0x;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 30%, rgba(9,9,121,1) 69%, rgba(0,212,255,1) 100%);
}

.titulo{
    color: whitesmoke;
    font-size: 050px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: start;
    margin-top: 100px;
    margin-left: 50px;
}

.form{
    color: aliceblue;
   font-size: 20px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin: 100px;
   margin-top: 75px;
}

.descrição{
    margin-left: 0px;
}

.img{
    margin-top: 100px;
    margin-left: 900px;
    position: absolute;
}

.kenzie{
   color: aliceblue;
   font:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: right;
  position: absolute;
  margin-top: 250px;
  margin-left: 928px;
}

.botão{
    width: 300px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: white;
    border: none;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
}

button:hover {
    background-color: blue;
    color:white;
}